repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
        # stages: [commit]  <-- (삭제됨) 기본값이므로 생략 가능
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-ensure-ascii, --no-sort-keys]
      - id: check-added-large-files
        args: [--maxkb=500000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: debug-statements
      - id: name-tests-test
        exclude: ^tests/load/locustfile\.py$
      - id: requirements-txt-fixer
  - repo: https://github.com/google/yamlfmt
    rev: v0.19.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # An extremely fast Python linter and code formatter, written in Rust.

    rev: "v0.14.5"
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
        # Run the formatter.
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --check-untyped-defs]
