[tool.poetry]
name = "python-template"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = "^3.12"
python-logging-loki = "^0.3.1"
opentelemetry-api = "^1.38.0"
opentelemetry-sdk = "^1.38.0"
opentelemetry-instrumentation-fastapi = "^0.59b0"
opentelemetry-exporter-otlp = "^1.38.0"
protobuf = "^6.33.1"
psycopg2-binary = "^2.9.11"
pydantic = "^2.12.4"
redis = "^7.1.0"
requests = "^2.32.5"
sqlalchemy = "^2.0.44"
confluent-kafka = "^2.12.2"
pydantic-settings = "^2.12.0"
opensearch-py = "^3.1.0"
httpx = "^0.28.1"
asyncpg = "^0.30.0"
python-multipart = "^0.0.20"
fastapi = "^0.121.3"
uvicorn = "^0.38.0"


[tool.poetry.group.dev.dependencies]
pytest-asyncio = "^1.3.0"
pytest = "^9.0.1"
pre-commit = "^4.5.0"
ruff = "^0.14.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# --- Ruff 설정 (Linter & Formatter) ---
[tool.ruff]
line-length = 100
target-version = "py310"

[tool.ruff.lint]
# E: pycodestyle errors
# F: Pyflakes
# I: isort (import 정렬)
# B: flake8-bugbear
# SIM: flake8-simplify
# UP: pyupgrade
select = ["E", "F", "I", "B", "SIM", "UP"]
ignore = []

[tool.ruff.lint.isort]
known-first-party = ["src"]
[tool.ruff.format]
quote-style = "double"
indent-style = "space"

[tool.pytest.ini_options]
testpaths = ["tests"]
